<div class="side-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="chat-create-btn">
    <%= link_to 'チャット作成', new_room_path %>
  </div>
</div>

  <div class="rooms">
    <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="group-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
    <% end %>
  </div>