<div class="side-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="chat-create-btn">
    <a href="/rooms/new" class="新規グループ作成">
      <i class="fas fa-user-friends fa-1x"></i>
    </a>
  </div>
</div>

  <div class="rooms">
    <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="group-name">
        <%= link_to room.name , room_messages_path(room) %>
      </div>
    </div>
    <% end %>
  </div>