<div class="wrapper">
  <div class="side-bar" id="side-full">
    <%= render "messages/side_bar" %>
  </div>
  <div class=chat-screen>
  <img src="<%= asset_path "exchange-symbol.png" %>" alt="背景画面"  >
  <p>You owe meでシェアしたお金を秒速管理</p>
  <h3>さぁ、旅行を存分に楽しみましょう！</h3>
  </div>
</div>
