.wrapper {
  display: flex;
  background-color: #fefaed;
}

.side-bar {
  width: 200px;
  height: 100vh;
  background-color:  #fcd200;
}

.side-header {
  height: 100px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

.user-name a {
  color: rgb(72, 69, 28);
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
}

.user-name a:hover {
  color: rgba(69, 66, 27, 0.709);
}

.chat-create-btn a {
  font-size: 21px;
  color: rgb(72, 69, 28);
  padding: 12px;
  background-color: #fcb000d4;
  text-decoration: none;
  border-radius: 3px;
}

.chat-create-btn a:hover {
  background-color: #fcb000;
}

.rooms {
  height: calc(100vh - 100px);
  background-color: #fcd200fe;
  overflow: scroll;
}

.room {
  padding: 20px 0 25px;
  background-color: #fcd200fe;
}

.room:hover {
  background-color: #fcc500;
}

#to-group {
  color: rgb(72, 69, 28);
  margin-right: 5px;
}

#to-group:hover{
  color: rgba(69, 66, 27, 0.709);
}

.group-name a {
  color: rgb(27, 27, 27);
  text-decoration: none;
  padding: 0px 20px;
}

.chat {
  width: calc(100vw - 200px);
  background-color: #fefaed;
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chat-title {
  font-size: 24px;
  color: #333;
  padding-top: 36px;
}

.chat-close-btn a {
  padding: 12px;
  color: #fff;
  background-color: #fcd200cd;
  font-size: 24px;
  border-radius: 3px;
}

.chat-close-btn a:hover {
  background-color: #fcd200;
}

.chat-close-btn {
  margin-top: 40px;
}

.messages {
  height: calc(100vh - 100px - 90px);
  background-color: #fefaed;
  /* padding: 40px 50px 0; */
  overflow: scroll;
}

.message {
  position: relative;
  background-color: #fefaed;
}

.message:hover{
  background-color: #fcf7e4;
}

.upper-message {
  display: flex;
  padding: 40px 50px 0;
}

.message-user {
  font-size: 20px;
  color:rgb(123, 115, 62);
  padding-right: 30px;
}

.message-date {
  font-size: 13px;
  color: rgba(123, 115, 62, 0.675);
}

.lower-message {
  font-size: 28px;
  color: #434335;
  margin: 0px 30px;
  padding: 15px 50px 33px;
}

.lower-sub-message {
  font-size: 21px;
  color: #2496d9;
  margin-top: 18px;
}

/* チェックボックス */


/* right-content */
.right_content {
  position: absolute;
  right: 40px;
}
/* ドロップダウンタグ */
.menu li {
  position: relative;
  float: left;
}
.menu li a {
  display: block;
  width: 80px;
  padding: 10px;
  text-decoration: none;
  color: rgba(72, 69, 28, 0.744);
  text-align: center;
}
.menu li a:hover {
  background: #fcd200cd;
}
.menu li:hover > ul {
  display: block;
}
.menu ul {
  display: none;
  position: absolute;
  top: 38px;
  width: 80px;
}
/* ドロップダウンタグ */

.form {
  height: 90px;
  background-color: #d9bc2e;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  width: 100%;
  display: flex;
  background-color: #fefaed;
  border-radius: 3px;
}

.form-message {
  padding-left: 10px;
  height: 50px;
  width: 100%;
  border: none;
  background-color: #fefaed;
  border-radius: 3px;
}

#form-submit {
  color: white;
  background-color: #32aaef;
  height: 50px;
  padding: 0 14px;
  margin-left: 15px;
  border: none;
  border-radius: 3px;
}

#form-submit:hover {
  background-color: #1ca0ec;
}

.form-image {
  background-color: lightblue;
  color: white;
  padding-top: 4px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.form-image:hover {
  background-color: rgb(146, 207, 227);
}

.hidden {
  display: none;
}

