h1 {
  letter-spacing: 2px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: rgb(69, 66, 27);
}

h2 {
  margin-bottom: 10px;
  color: rgb(69, 66, 27);
  font-size: 14px;
  font-family: "Arial", "メイリオ";
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.chat-screen {
  width: calc(100vw - 200px);
  height: 100vh;
  text-align: center;
}

.chat-screen p {
  margin-bottom: 5px;
  color: rgba(69, 66, 27, 0.805);
}

.chat-screen h3 {
  font-size: 22px;
  font-weight: 700;
  color: rgb(69, 66, 27);
}

.chat-room-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fcd200;
  border: 1px solid #fff;
  border-radius: 3px;
  box-sizing: border-box;
}
.chat-room-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.chat-room-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
  font-size: 16px;
  color: rgb(69, 66, 27);
}
.chat-room-form__input {
  float: left;
  width: 60%;
  line-height: 30px;
  padding: 5px 15px;
  box-sizing: border-box;
  border: none;
  font-size: 13px;
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: #fefaed;
}
.chat-room-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
  border-radius: 3px;
}
.chat-room-form__action-btn:hover {
  background-color: #1ca0ec;
}
.chat-room-form__field {
  margin-top: 30px;
}
.chat-room-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-form__field--left {
  float: left;
  width: 30%;
  padding: 0 20px;
  box-sizing: border-box;
}
.chat-room-form__field--right {
  float: right;
  width: 70%;
}
.chat-title-name {
  text-decoration: none;
  color: rgb(69, 66, 27);
  font-size: 25px;
  font-weight: 600;
}
.chat-title-name:hover {
  color: rgba(69, 66, 27, 0.812);
}
.chat-room-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  width: 500px;
  margin: 0 auto;
}
.chat-room-user:after {
  content: "";
  clear: both;
  display: block;
}
.chat-room-user__name {
  float: left;
}
.chat-room-user__btn {
  float: right;
  display: inline-block;
  cursor: pointer;
}
.chat-room-user__btn--add {
  color: #38aef0;
}
.chat-room-user__btn--remove {
  color: #f05050;
}

.chat-room-user__name a {
  text-decoration: none;
  color: #38aef0;
}

select {
  width: 378px;
  height: 38px;
  margin: 8px 0;
  padding: 0 15px;
  border: none;
  border-radius: 3px;
  background-color: #fefaed;
  color: rgba(69, 66, 27, 0.915);
  font-size: 13px;
}

.top-header {
  background-color: #434a54;
  height: 80px;
  width: 100%;
}

.field_with_errors {
  display: contents;
}

.error-alert {
  padding: 30px 0 10px;
}

 .error-message {
  color: rgb(69, 66, 27);
  font-size: 16px;
  text-align: center;
 }